html, body {
    background-color: rgb(255, 226, 185);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator_body {
    background-color: #fcfcdc;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
    max-width: 320px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.121);
}

/* Calculator Text */
.calc_screen {
    height: 80px;
    border-radius: 6px;
    padding: 20px;
    padding-bottom: 5px;
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    grid-row-gap: 5px;
    justify-content: end;
    align-items: end;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.calc_user_input {

}

.calc_total {
    color: rgb(189, 187, 187);
    font-size: 15px;
}

/* Buttons */
/* Utility Buttons */
.calc_utility_button_group {
    display: flex;
    grid-column-gap: 5px;
}

.utility_button {
    background-color: #ffe4ab;
    color: black;
    font-weight: 600;
}

.utility_button:hover {
    background-color: #eecd85;
}

/* Number Buttons */
.calc_numeric_button_group {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 6px;
    grid-column-gap: 5px;
}

.default_button {
    width: 80px;
    background-color: #f1bc7b;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 6px;
    transition: 250ms ease-in-out;
    /* box-shadow: inset 0px -5px 0px #d69c56; */
    filter: drop-shadow(0px 5px 0px #d69c56)
}

.default_button:hover { 
    background-color: #d69c56;
}

/* Operator Buttons */
.calc_math_butt_group {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 6px;
    grid-column-gap: 5px;
}

.operator_button {
    width: 80px;
    background-color: #ffb04f;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 6px;
    transition: 250ms ease-in-out;
    filter: drop-shadow(0px 5px 0px #e18718)
}

.operator_button:hover { 
    background-color: #d68a2e;
}